//main: style.less

@black: #2B2A2c;
@gray: #6A696B;
@gray-light: #8D8D8E;
@white: #FFFFFF;


@mobile-sm: ~"(max-width: 565px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 990px)";
@notebook: ~"(max-width: 1199px)";